
@{
    ViewBag.Title = "Change Email | Coder Dojo MKE";
}

<h2>CHANGE EMAIL</h2>
<div class="main-content">
    <p>
        You have chosen to change your email address and as a result have been logged out.
    </p>
    <p>
        In order to complete the email change process, you must log into the new e-mail address and 
        verify the account before you will be able to log in again.  A verification email has been 
        sent to the new email address and a notification email has been sent to the old address.
    </p>
    <p>
        If you wish to cancel this email change and continue using your old email address, simply log into 
        the old e-mail address and click on the cancellation link provided in the notification email.
    </p>    
</div>

