@{
    ViewBag.Title = "Practice | CoderDojo MKE";
}
<h2>PRACTICE</h2>

<div class="main-content">
    <p class="lead">
        Light-Bot is a fun introductory program anyone can play to learn the basics of how
        instructional programming works.  The CoderDojo edition has been taken offline but
        if you are still interested in playing Light-Bot you can still play the online version
        or download their app to your phone or tablet by visiting their website:
    </p>
    <p><a href="http://lightbot.com/">http://lightbot.com/</a></p>

    @*<div class="light-bot-game-wrapper">
        <div class="light-bot-game">
            <iframe src="http://light-bot.com/dojo-iframe.html" frameborder="0" width="480" height="320"></iframe>
        </div>
    </div>*@    
</div>

