
@{
    ViewBag.Title = "No Shows | Coder Dojo MKE";
}

<h2>NO SHOWS</h2>

<div class="main-content">
    <p>
        Our records indicate that you have had 3 or more no shows related to this account.  As a result, signups for this account have been put on hold.
    </p>
    <p>In order to proceed, you will need to @Html.ActionLink("contact us", "Contact", "Home").</p>
</div>

