@{
    ViewBag.Title = "About | CoderDojo MKE";
}
<h2>ABOUT</h2>
<div class="main-content">    
    <p class="lead">
        CoderDojo MKE is a free and open organization where youths age 7-17 can come to learn to code by doing.
        Established in August 2014 by <a href="http://www.nathangrier.com">Nathan Grier</a>, the chapter celebrated
        its launch on September 6<sup>th</sup> 2014 and has been running free coding workshops ever since.
    </p>
    <p>
        At a Dojo, young people learn how to code, develop websites, apps, programs, games and much more. 
        In addition to learning to code, members meet like minded people, show off what they’ve been working on and so on. 
        CoderDojo makes development and learning to code a fun, sociable and awesome experience. CoderDojo also puts a 
        strong emphasis on open source and free software, and has a strong network of members and volunteers globally. 
        CoderDojo has just one rule: &quot;Above All: Be Cool&quot;, bullying, lying, wasting people's time and so on is uncool.
    </p>
    <p>
        Coder Dojo MKE is a non-profit 501(c)(3) corporation that relies on volunteers and donations to run the programs.
        If you are interested in volunteering, please join our <a href="http://www.meetup.com/Coder-Dojo-MKE/" target="_blank">MeetUp Group</a>.
        You do not need any technical experience to volunteer, we are always looking for people to help with a variety of tasks
        related to running the dojo.
    </p>
    <p>
        If you are interested in donating or know of someone who might be interested please @Html.ActionLink("contact us", "Contact", "Home").
    </p>
    <p>        
        For a complete list of Dojos and more information about the international organization, please visit 
        <a target="_blank" href="http://www.coderdojo.com">CoderDojo.com</a>
    </p>    
</div>

<h2>VOLUNTEERS</h2>
<div class="main-content">
    <div class="member">
        <img class="member-photo" alt="Nathan Grier" src="/Content/Images/nathan-grier-opti.png" />
        <div class="member-detail">
            <h3>Nathan Grier</h3>
            <h4>Founder</h4>
            <span>
                Nathan is a Senior Engineer at Northwoods Software - a web development company based in Shorewood, WI.
                He strives to make good clean code when developing and has a diverse background in several programming languages and
                development platforms.  He likes to travel and posts travel pictures in galleries on his website
                <a href="http://www.nathangrier.com" target="_blank">nathangrier.com</a>
            </span>
        </div>
    </div>
    <div class="member">
        <img class="member-photo" alt="Ann Junker - No Photo Available" src="/Content/Images/no-photo.png" />
        <div class="member-detail">
            <h3>Ann Junker</h3>
            <h4>Mentor</h4>
            <span>
                Senior User Experience Designer, Visual Designer, and Front-End Developer at a web development company.
                I have on been teams that build Content Management Systems and a variety of web sites, from small to
                very large. I love to read and take photos -
                <a href="http://annjunker.smugmug.com/" target="_blank">
                    http://annjunker.smugmug.com/
                </a>
            </span>
        </div>
    </div>
</div>

<h2>BOARD OF DIRECTORS</h2>
<div class="main-content">
    <div class="member">
        <img class="member-photo" alt="Jill Wesolowski" src="/Content/Images/jill-wes-opti.png" />
        <div class="member-detail">
            <h3>Jill Wesolowski</h3>
            <h4>President</h4>
            <span>                
            </span>
        </div>
    </div>
    <div class="member">
        <img class="member-photo" alt="Scott Kempen - No Photo Available" src="/Content/Images/no-photo.png" />
        <div class="member-detail">
            <h3>Scott Kempen</h3>
            <h4>Vice President</h4>
            <span>
            </span>
        </div>
    </div>
    <div class="member">
        <img class="member-photo" alt="Laura Beldavs - No Photo Available" src="/Content/Images/no-photo.png" />
        <div class="member-detail">
            <h3>Laura Beldavs</h3>
            <h4>Secretary</h4>
            <span>
            </span>
        </div>
    </div>
    <div class="member">
        <img class="member-photo" alt="Nathan Grier - Treasurer" src="/Content/Images/nathan-grier-opti.png" />
        <div class="member-detail">
            <h3>Nathan Grier</h3>
            <h4>Treasurer</h4>
            <span>
            </span>
        </div>
    </div>
</div>


