
@{
    ViewBag.Title = "FAQs | CoderDojo MKE";
}

<h2>FAQs</h2>

<div class="main-content">
    <div class="faq-question-wrapper">
        <h3>Does my child need to already know code?</h3>
        <p>
            There are no requirements for attending a CoderDojo class other than bringing yourself
            and a desire to learn. Every Dojo teaches a basic introduction to making a webpage or other
            simple computer application as a starting point to learning how to code. From there, children 
            begin to learn how to code in more advanced languages by learning from each other and from the mentors.
        </p>
    </div>    
    <div class="faq-question-wrapper">
        <h3>What is the age range for students?</h3>
        <p>
            Approximately 7–17 years old.
        </p>
    </div>

    <div class="faq-question-wrapper">
        <h3>On average how many students are at each session?</h3>
        <p>
            Between 6-12 students.
        </p>
    </div>

    <div class="faq-question-wrapper">
        <h3>What level IT skills do students need at the start?</h3>
        <p>
            It's recommended that they have used a computer and browsed the internet before 
            but no real computer skills are needed. The point is to introduce kids to programming 
            and inspire them to explore technology on their own.
        </p>
    </div>

    <div class="faq-question-wrapper">
        <h3>Who are the volunteers?</h3>
        <p>
            Volunteers include parents, teachers and programmers from the industry who are enthusiastic 
            about helping kids to develop their coding skills.
        </p>
    </div>

    <div class="faq-question-wrapper">
        <h3>Can/Should I stay with my child during the class?</h3>
        <p>
            Yes! We highly encourage parents to stay with their children throughout the process. 
            This allows everyone to learn something new and amazing! In addition, students age 12
            and under are required to have a parent present.
        </p>
    </div>

    <div class="faq-question-wrapper">
        <h3>Do we need to provide a laptop?</h3>
        <p>
            Bringing your own laptop is appreciated but not required.  We have laptops available for use, however, they are
            limited and will be given to students based on the order of the ticket sign ups.  We intentionally leave available 
            tickets open with the expectation that at least <i>some</i> students will bring their own laptops so please plan
            accordingly.
        </p>
    </div>
    <div class="faq-question-wrapper">
        <h3>If we bring our own laptop do we need to have software installed?</h3>
        <p>
            All the software that we use at Coder Dojo is free and open source.  If you have questions related to the software
            needed for a given session please contact us on the contacts page.
        </p>
    </div>
    <div class="faq-question-wrapper">
        <h3>Is there Wi-fi?</h3>
        <p>
            Yes.
        </p>
    </div>
</div>

