@{
    ViewBag.Title = "Home | Coder Dojo MKE";
}
<h2>&nbsp;</h2>
<div class="jumbotron">    
    <h2>Free coding workshops for youth</h2>
    
    <p class="lead">
        Each workshop is for anyone age 7-13 who is interested in learning how to get involved with computer topics such as programming and content generation.
        Please check the @Html.ActionLink("event listings", "Index", "Signup") for times and dates.  There is pizza provided followed by some show and tell of the projects each ninja has worked on.
    </p>
    <p class="lead">
        No previous experience is required, just sign up by @Html.ActionLink("clicking here", "Index", "Signup").
    </p>
    <p>
        Follow us on Twitter <a href="http://www.twitter.com/coderdojomke">@@coderdojomke</a>
    </p>
    <p>
        or check us out on Facebook <a href="http://www.facebook.com/coderdojomke">http://www.facebook.com/coderdojomke</a>
    </p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

    <div>
        <p>Coder Dojo MKE offers a unique opportunity for students to learn and share their knowledge about the web right on our own website.</p>
        <p><a href="~/Ninjas/ninja-list.html" target="_blank">Check out the work that some of the ninjas have already accomplished...</a></p>
        <p>... and check back regularly as we will update this with new material as the ninjas continue to work on their web projects.</p>
    </div>
</div>