
@{
    ViewBag.Title = "Contact Us Submission Successful";
}
<h2>&nbsp;</h2>
<div class="main-content">
    <h2>Thank you for your interest!</h2>
    <p>
        We'll try to get back to you as soon as we can.
    </p>
</div>

