
@{
    ViewBag.Title = "Cancel Email Change| Coder Dojo MKE";
}

<h2>&nbsp;</h2>
<div class="main-content">
    <p>
        Your email change has been canceled. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

