@{
    ViewBag.Title = "Confirm Email | Coder Dojo MKE";
}

<h2>CONFIRM EMAIL</h2>
<div class="main-content">
    <p>
        Thank you! Your email has been confirmed. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
