@model CoderDojoMKE.Web.Models.View.DisplayRegistrationEmailViewModel
@{
    ViewBag.Title = "Register | Coder Dojo MKE";
}

<h2>&nbsp;</h2>
<div class="main-content">
    <p>
        Thank you for registering. 
    </p>
    <p>
        An email verification link has been sent to <label>@Model.Email</label>
    </p>
    <p>
        Please click on the link provided in that e-mail and follow the instructions.
    </p>
</div>

