@{
    ViewBag.Title = "Reset Password | Coder Dojo MKE";
}

<h2>RESET PASSWORD</h2>

<div class="main-content">
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
